<script>
  // JavaScript code to make divs clickable and change border color and size
  
 
 
  document.addEventListener("DOMContentLoaded", function() {
 
 
 
   var counter = 0
 
 var divFirstItem
 var divSecondItem
 
 var divFirstParent
 var divSecondParent
 
 
                
 function reposFormation() {
   var dfParentDF = document.getElementById('defenceDiv442');
   var dfParentMD = document.getElementById('midfieldDiv442');
   var dfParentAT = document.getElementById('attackDiv442');
 
   var numberOfPlayersDF = 0
   var numberOfPlayersMD = 0
   var numberOfPlayersAT = 0
 
 
 
 var playerDivs = dfParentDF.querySelectorAll('div[class*=player]');
 
 playerDivs.forEach(function(div) {
   numberOfPlayersDF = numberOfPlayersDF + 1
 });
 
 //--
 
 var playerDivs = dfParentMD.querySelectorAll('div[class*=player]');
 
 playerDivs.forEach(function(div) {
   numberOfPlayersMD = numberOfPlayersMD + 1
 });
 
 //--
 
 var playerDivs = dfParentAT.querySelectorAll('div[class*=player]');
 
 playerDivs.forEach(function(div) {
   numberOfPlayersAT = numberOfPlayersAT + 1
 });
 
 
 
 
 console.log('NUMBER OF PLAYERS IN DEFENCE ' + numberOfPlayersDF)
 console.log('NUMBER OF PLAYERS IN MIDFIELD ' + numberOfPlayersMD)
 console.log('NUMBER OF PLAYERS IN ATTACK ' + numberOfPlayersAT)
 
 
 
 
 
 //3-4-3--------------------------
 
 if( numberOfPlayersDF==3 && numberOfPlayersMD==4 && numberOfPlayersAT==3 ) {
 
 dfParentDF.style.marginLeft = '87px'; 
 dfParentMD.style.marginLeft = '27px'; 
 dfParentAT.style.marginLeft = '87px'; 
 
 console.log('CHANGED TO 3-4-3')
 
 }
 
 //3-5-2--------------------------
 
 if( numberOfPlayersDF==3 && numberOfPlayersMD==5 && numberOfPlayersAT==2 ) {
 
 dfParentDF.style.marginLeft = '100px'; 
 dfParentMD.style.marginLeft = '-30px'; 
 dfParentAT.style.marginLeft = '155px'; 
 
 console.log('CHANGED TO 3-5-2')
 
 }
 
 
 
 //4-4-2--------------------------
 
 if( numberOfPlayersDF==4 && numberOfPlayersMD==4 && numberOfPlayersAT==2 ) {
 
   dfParentDF.style.marginLeft = '27px'; 
   dfParentMD.style.marginLeft = '27px'; 
   dfParentAT.style.marginLeft = '155px'; 
 
   console.log('CHANGED TO 4-4-2')
 
 }
 
 
 //4-3-3--------------------------
 
 if( numberOfPlayersDF==4 && numberOfPlayersMD==3 && numberOfPlayersAT==3 ) {
 
   dfParentDF.style.marginLeft = '172px'; 
   dfParentMD.style.marginLeft = '325px'; 
   dfParentAT.style.marginLeft = '325px'; 
 
   console.log('CHANGED TO 4-3-3')
 
 }
 
 //4-5-1--------------------------
 
 if( numberOfPlayersDF==4 && numberOfPlayersMD==5 && numberOfPlayersAT==1 ) {
 
 dfParentDF.style.marginLeft = '172px'; 
 dfParentMD.style.marginLeft = '185px'; 
 dfParentAT.style.marginLeft = '465px'; 
 
 console.log('CHANGED TO 4-5-1')
 
 }
 
 //5-3-2--------------------------
 
 if( numberOfPlayersDF==5 && numberOfPlayersMD==3 && numberOfPlayersAT==2 ) {
 
 dfParentDF.style.marginLeft = '185px'; 
 dfParentMD.style.marginLeft = '325px'; 
 dfParentAT.style.marginLeft = '395px'; 
 
 console.log('CHANGED TO 5-3-2')
 
 }
 
 //5-4-1--------------------------
 
 if( numberOfPlayersDF==5 && numberOfPlayersMD==4 && numberOfPlayersAT==1 ) {
 
 dfParentDF.style.marginLeft = '185px'; 
 dfParentMD.style.marginLeft = '172px'; 
 dfParentAT.style.marginLeft = '465px'; 
 
 console.log('CHANGED TO 5-4-1')
 
 }
 
 //5-2-3--------------------------
 
 if( numberOfPlayersDF==5 && numberOfPlayersMD==2 && numberOfPlayersAT==3 ) {
 
 dfParentDF.style.marginLeft = '185px'; 
 dfParentMD.style.marginLeft = '395px'; 
 dfParentAT.style.marginLeft = '325px'; 
 
 console.log('CHANGED TO 5-2-3')
 
 }   
 
 
 
 
 
 
 
 
 
 
 
 }
 
 
 
 
 
 
 //HIDE ALL BENCH IN START-----------------------------
 function hideBench() {
 
 // Get the parent div 'player1bench'
 const gkBenchDiv = document.getElementById("GKbench");
   gkBenchDiv.style.pointerEvents = "none";
 // Get all child div elements of 'player1bench'
 const GKbenchDivs = gkBenchDiv.getElementsByTagName("div");
 
 // Loop through all child div elements
 for (let i = 0; i < GKbenchDivs.length; i++) {
    const div = GKbenchDivs[i];
 
    // Disable click event for this div
    div.style.pointerEvents = "none";
    // Optionally, you can also add a class to visually indicate that the div is disabled
 }
 
 
   // Get the parent div 'player1bench'
   const player1BenchDiv = document.getElementById("player1bench");
   player1BenchDiv.style.pointerEvents = "none";
 // Get all child div elements of 'player1bench'
 const benchDivs = player1BenchDiv.getElementsByTagName("div");
 
 // Loop through all child div elements
 for (let i = 0; i < benchDivs.length; i++) {
    const div = benchDivs[i];
 
    // Disable click event for this div
    div.style.pointerEvents = "none";
    // Optionally, you can also add a class to visually indicate that the div is disabled
 }
 
 
 
  // Get the parent div 'player1bench'
  const player2BenchDiv = document.getElementById("player2bench");
   player2BenchDiv.style.pointerEvents = "none";
 // Get all child div elements of 'player1bench'
 const benchDivs2 = player2BenchDiv.getElementsByTagName("div");
 
 // Loop through all child div elements
 for (let i = 0; i < benchDivs2.length; i++) {
    const div = benchDivs2[i];
 
    // Disable click event for this div
    div.style.pointerEvents = "none";
    // Optionally, you can also add a class to visually indicate that the div is disabled
 }
 
 
 
   // Get the parent div 'player1bench'
   const player3BenchDiv = document.getElementById("player3bench");
   player3BenchDiv.style.pointerEvents = "none";
 // Get all child div elements of 'player1bench'
 const benchDivs3 = player3BenchDiv.getElementsByTagName("div");
 
 // Loop through all child div elements
 for (let i = 0; i < benchDivs3.length; i++) {
    const div = benchDivs3[i];
 
    // Disable click event for this div
    div.style.pointerEvents = "none";
    // Optionally, you can also add a class to visually indicate that the div is disabled
 }
 
 
 }
  
 hideBench()
 
 
 
 
 function resetAll() {
 
   console.log('RESET ALL GOING OFF')
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player")) {
       console.log('RESET ALL GOING OFF2')
 
       div.style.pointerEvents = "auto";
 
       let numbers = div.id.match(/\d+/g);
                 var bench1img = document.getElementById('playerShirt'+numbers);
                 bench1img.src = '/img/playerShirt.png'; // Set this to the path of the new image 
 
     }
 
   }
 
   hideBench()
 
 }
 
 
 
 
 
 
 
 
     const player1GKDiv = document.getElementById("player1GK");
 
     player1GKDiv.addEventListener("click", function() {
       
 
 
         // Get all div elements
         const allDivs = document.getElementsByTagName("div");
 
         // Loop through all div elements
         for (let i = 0; i < allDivs.length; i++) {
             const div = allDivs[i];
 
             // Check if the div's ID contains the word 'player' and is not 'player1GK'
             if (div.id.includes("player") && div.id !== "player1GK" && div.id !== "player2GK") {
                 // Disable click event for this div
                 div.style.pointerEvents = "none";
 
                 let numbers = div.id.match(/\d+/g);
                 var bench1img = document.getElementById('playerShirt'+numbers);
                 bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
                 
             }
 
             let numbers = div.id.match(/\d+/g);
                 var bench2img = document.getElementById('playerShirt1');
                 bench2img.src = '/img/playerShirt2.png'; // Set this to the path of the new image 
                 
                 let numbers2 = div.id.match(/\d+/g);
                 var bench3img = document.getElementById('playerShirt2');
                 bench3img.src = '/img/playerShirt.png'; // Set this to the path of the new image  
            
             if (div.id.includes("player2GK")) {
                 div.style.pointerEvents = "auto";
                 
             }
            
         }        
 
 
         if(counter==0) {
         divFirstItem = player1GKDiv
         divFirstParent = player1GKDiv.parentElement
         
       }
       if(counter==1) {
         divSecondItem = player1GKDiv
         divSecondParent = player1GKDiv.parentElement
 
         if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
           divSecondParent.appendChild(divFirstItem)        
           divFirstParent.appendChild(divSecondItem) 
         }
         
         counter=0
 
         resetAll()
 
         return
       }
 
       counter=counter+1
       
 
 
     });
 
 
 
 
     //------------------------------------------------
 
 
 
     const player2GKDiv = document.getElementById("player2GK");
 
     player2GKDiv.addEventListener("click", function() {
 
   
   
 
 
     // Get all div elements
     const allDivs = document.getElementsByTagName("div");
 
     // Loop through all div elements
     for (let i = 0; i < allDivs.length; i++) {
         const div = allDivs[i];
 
         // Check if the div's ID contains the word 'player' and is not 'player1GK'
         if (div.id.includes("player") && div.id !== "player1GK" && div.id !== "player2GK") {
             // Disable click event for this div
             div.style.pointerEvents = "none";
 
             let numbers = div.id.match(/\d+/g);
             var bench1img = document.getElementById('playerShirt'+numbers);
             bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
             
         }
 
         let numbers = div.id.match(/\d+/g);
             var bench2img = document.getElementById('playerShirt2');
             bench2img.src = '/img/playerShirt2.png'; // Set this to the path of the new image 
             
             let numbers2 = div.id.match(/\d+/g);
             var bench3img = document.getElementById('playerShirt1');
             bench3img.src = '/img/playerShirt.png'; // Set this to the path of the new image  
        
         if (div.id.includes("player1GK")) {
             div.style.pointerEvents = "auto";
             
         }
        
     }       
     
     
     if(counter==0) {
     divFirstItem = player2GKDiv
     divFirstParent = player2GKDiv.parentElement
     
   }
   if(counter==1) {
     divSecondItem = player2GKDiv
     divSecondParent = player2GKDiv.parentElement
 
     if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
       divSecondParent.appendChild(divFirstItem)        
       divFirstParent.appendChild(divSecondItem) 
     }
     
     counter=0
 
     resetAll()
     return
   }
 
   counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player3DFDiv = document.getElementById("player3DF");
 
 player3DFDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player3DF" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt3');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player3DFDiv
 divFirstParent = player3DFDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player3DFDiv
 divSecondParent = player3DFDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player4DFDiv = document.getElementById("player4DF");
 
 player4DFDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player4DF" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt4');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player4DFDiv
 divFirstParent = player4DFDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player4DFDiv
 divSecondParent = player4DFDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player5DFDiv = document.getElementById("player5DF");
 
 player5DFDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player5DF" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt5');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player5DFDiv
 divFirstParent = player5DFDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player5DFDiv
 divSecondParent = player5DFDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player6DFDiv = document.getElementById("player6DF");
 
 player6DFDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player6DF" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt6');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player6DFDiv
 divFirstParent = player6DFDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player6DFDiv
 divSecondParent = player6DFDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player7DFDiv = document.getElementById("player7DF");
 
 player7DFDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player7DF" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt7');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player7DFDiv
 divFirstParent = player7DFDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player7DFDiv
 divSecondParent = player7DFDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player8MDDiv = document.getElementById("player8MD");
 
 player8MDDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player8MD" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt8');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player8MDDiv
 divFirstParent = player8MDDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player8MDDiv
 divSecondParent = player8MDDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player9ATDiv = document.getElementById("player9AT");
 
 player9ATDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player9AT" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt9');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player9ATDiv
 divFirstParent = player9ATDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player9ATDiv
 divSecondParent = player9ATDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 
 
 divSecondParent.appendChild(divFirstItem)   
 
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 
   
   
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player10ATDiv = document.getElementById("player10AT");
 
 player10ATDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player10AT" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt10');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player10ATDiv
 divFirstParent = player10ATDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player10ATDiv
 divSecondParent = player10ATDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player11ATDiv = document.getElementById("player11AT");
 
 player11ATDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player11AT" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt11');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player11ATDiv
 divFirstParent = player11ATDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player11ATDiv
 divSecondParent = player11ATDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player12MDDiv = document.getElementById("player12MD");
 
 player12MDDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player12MD" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt12');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player12MDDiv
 divFirstParent = player12MDDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player12MDDiv
 divSecondParent = player12MDDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
     
 
 
 //------------------------------------------------
 
     
 
 const player13MDDiv = document.getElementById("player13MD");
 
 player13MDDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player13MD" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt13');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player13MDDiv
 divFirstParent = player13MDDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player13MDDiv
 divSecondParent = player13MDDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player14MDDiv = document.getElementById("player14MD");
 
 player14MDDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player14MD" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt14');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player14MDDiv
 divFirstParent = player14MDDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player14MDDiv
 divSecondParent = player14MDDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 //------------------------------------------------
 
     
 
 const player15MDDiv = document.getElementById("player15MD");
 
 player15MDDiv.addEventListener("click", function() {
 
 // Get all div elements
 const allDivs = document.getElementsByTagName("div");
 
 // Loop through all div elements
 for (let i = 0; i < allDivs.length; i++) {
     const div = allDivs[i];
 
     // Check if the div's ID contains the word 'player' and is not 'player1GK'
     if (div.id.includes("player") && div.id !== "player15MD" && div.parentElement.id !== "player1bench" && div.parentElement.id !== "player2bench" && div.parentElement.id !== "player3bench") {
         // Disable click event for this div
         div.style.pointerEvents = "none";
 
         let numbers = div.id.match(/\d+/g);
         var bench1img = document.getElementById('playerShirt'+numbers);
         bench1img.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
         
     }
 
     
         var benchximg = document.getElementById('playerShirt15');
         benchximg.src = '/img/playerShirt2.png'; // Set this to the path of the new image     
         
       
    
     if (div.parentElement.id=="player1bench" || div.parentElement.id=="player2bench" || div.parentElement.id=="player3bench") {
         div.style.pointerEvents = "auto";      
     }
 
     var benchzimg = document.getElementById('playerShirt1');
     benchzimg.src = '/img/playerShirt3.png'; // Set this to the path of the new image 
    
 }       
 
 
 if(counter==0) {
 divFirstItem = player15MDDiv
 divFirstParent = player15MDDiv.parentElement
 
 }
 if(counter==1) {
 divSecondItem = player15MDDiv
 divSecondParent = player15MDDiv.parentElement
 
 if(divSecondParent==divFirstParent) {
 counter=0
 resetAll() 
  return
 }
 
 
 
 if (divFirstItem.id.includes('GK') && divSecondItem.id.includes('GK')) {
   divSecondParent.appendChild(divFirstItem)        
   divFirstParent.appendChild(divSecondItem) 
 }
 
 divSecondParent.appendChild(divFirstItem)        
 if(divSecondItem.id.includes('DF')) {
   var dfParent = document.getElementById('defenceDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('MD')) {
   var dfParent = document.getElementById('midfieldDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }
 if(divSecondItem.id.includes('AT')) {
   var dfParent = document.getElementById('attackDiv442');
   dfParent.appendChild(divSecondItem)
 reposFormation() 
 }  
 counter=0
 
 resetAll()
 return
 }
 
 counter=counter+1
 
 
 });
 
 
 
 
 
 
 
 
 
 
 
 
 
 });
         
 
 //HTML STARTING
 
 </script>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="style.css">
  <title>Responsive Dashboard Design #2 | AsmrProg</title>
</head>

<body>

  <!-- Sidebar -->
  <div class="sidebar">  

      <img src="/img/siteLogo.png" width="65" height="65">

      <a class="logo">                   

          <div class="logo-name" style="font-size: 36px;">   
              <span>Fot</span>Prophet</div>                    
                              
      </a>
     
      
      <ul class="side-menu">
        <li><a href="/adminHome"></i>&nbsp;&nbsp;Home</a></li>

          <li><a href="/adminEuromanager"></i>&nbsp;&nbsp;Euromanager</a></li>
          <li><a href="/adminPredictor"></i>&nbsp;&nbsp;Predictor</a></li>
          <li><a href="/dashboard"></i>&nbsp;&nbsp;Profile</a></li>
      </ul>
      <ul class="side-menu">
          <li>
             
          </li>
      </ul>
  </div>
  <!-- End of Sidebar -->

  <!-- Main Content -->
  <div class="content">
      <!-- Navbar -->
      <nav>
          <i class='bx bx-menu'></i>
          
         


          <a href="#" class="notif">
              <i class='bx bx-bell'></i>
              <span class="count">12</span>
          </a>
          <a href="#" class="profile">
              <p><b>Username: </b><%= locals.username %></p>

          </a>
      </nav>

      <!-- End of Navbar -->

      <main>
          <div class="header">
              <div class="left">
                  
                  <h1>Points</h1>
                  <ul class="breadcrumb">
                    <a href="/adminEuromanager" class="active">Pick Team</a>
                          /
                          <a href="/adminPoints">Points</a>
                          /
                          <a href="/adminTransfers">Transfers</a>
                          /
                          <a href="/adminStandings">Standings</a>
                  </ul>
              </div>
             
          </div>

      

          <div class="bottom-data">
              <div class="orders" id="formationOrder">
                            
                 <!-- -->                    <div class="formationclassOuter">

                  <div class="formationclass">
      <br>
      <div class="keeperDiv" id="keeperDiv442">

        <div class="player1Div" id="player1GK">
          <img src="/img/playerShirt.png" id="playerShirt1">
          <p class="pname"><% 
            let playerName1 = 'player'; 
            try { 
                if (players.length > 0) { 
                  playerName1 = players[0].name; 
                } 
            } catch (error) { 
                console.error('Error accessing player name:', error); 
            } 
        %>
        <%= playerName1 %></p>
        <p class="pPoints"><%= players[0].team %></p> </div>

      </div>
   
            <!-- -------------------------->

      <div class="defenceDiv" id="defenceDiv442">

   

    <div class="player3Div" id="player3DF"> 
      <img src="/img/playerShirt.png" id="playerShirt3">
      <p class="pname"><% 
        let playerName3 = 'player'; 
        try { 
            if (players.length > 0) { 
                playerName3 = players[2].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName3 %></p>
    <p class="pPoints"><%= players[2].team %></p> </div>

    <div class="player4Div" id="player4DF">
      <img src="/img/playerShirt.png" id="playerShirt4">
      <p class="pname"><% 
        let playerName4 = 'player'; 
        try { 
            if (players.length > 0) { 
                playerName4 = players[3].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName4 %></p>
    <p class="pPoints"><%= players[3].team %></p> </div>


    <div class="player5Div" id="player5DF">
      <img src="/img/playerShirt.png" id="playerShirt5">
      <p class="pname"><% 
        let playerName5 = 'player'; 
        try { 
            if (players.length > 0) { 
                playerName5 = players[4].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName5 %></p>
    <p class="pPoints"><%= players[4].team %></p> </div>
  

  <div class="player6Div" id="player6DF">
    <img src="/img/playerShirt.png" id="playerShirt6">
    <p class="pname"><% 
      let playerName6 = 'player'; 
      try { 
          if (players.length > 0) { 
              playerName6 = players[5].name; 
          } 
      } catch (error) { 
          console.error('Error accessing player name:', error); 
      } 
  %>
  <%= playerName6 %></p>
  <p class="pPoints"><%= players[5].team %></p> </div>    

      </div>

                <!---------------------------->

                <div class="midfieldDiv" id="midfieldDiv442">             
                 
                  <div class="player8Div" id="player8MD"> 
                    <img src="/img/playerShirt.png" id="playerShirt8">
                    <p class="pname"><% 
                      let playerName8 = 'player'; 
                      try { 
                          if (players.length > 0) { 
                              playerName8 = players[7].name; 
                          } 
                      } catch (error) { 
                          console.error('Error accessing player name:', error); 
                      } 
                  %>
                  <%= playerName8 %></p>
                  <p class="pPoints"><%= players[7].team %></p> </div>

    
    <div class="player12Div" id="player12MD"> 
      <img src="/img/playerShirt.png" id="playerShirt12">
      <p class="pname"><% 
        let playerName12 = 'player'; 
        try { 
            if (players.length > 0) { 
              playerName12 = players[11].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName12 %></p>
    <p class="pPoints"><%= players[11].team %></p> </div>

    <div class="player13Div" id="player13MD"> 
      <img src="/img/playerShirt.png" id="playerShirt13">
      <p class="pname"><% 
        let playerName13 = 'player'; 
        try { 
            if (players.length > 0) { 
              playerName13 = players[12].name; 
            }
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName13 %></p>
    <p class="pPoints"><%= players[12].team %></p> </div>

    <div class="player14Div" id="player14MD"> 
      <img src="/img/playerShirt.png" id="playerShirt14">
      <p class="pname"><% 
        let playerName14 = 'player'; 
        try { 
            if (players.length > 0) { 
              playerName14 = players[13].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName14 %></p>
    <p class="pPoints"><%= players[13].team %></p> </div>

    

  </div>



  <div class="attackDiv" id="attackDiv442">

    

    <div class="player9Div" id="player9AT"> 
      <img src="/img/playerShirt.png" id="playerShirt9">
      <p class="pname"><% 
        let playerName9 = 'player'; 
        try { 
            if (players.length > 0) { 
                playerName9 = players[8].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName9 %></p>
    <p class="pPoints"><%= players[8].team %></p> </div>



    <div class="player10Div" id="player10AT"> 
      <img src="/img/playerShirt.png" id="playerShirt10">
      <p class="pname"><% 
        let playerName10 = 'player'; 
        try { 
            if (players.length > 0) { 
                playerName10 = players[9].name; 
            } 
        } catch (error) { 
            console.error('Error accessing player name:', error); 
        } 
    %>
    <%= playerName10 %></p> 
    <p class="pPoints"><%= players[9].team %></p></div>

   
 
  </div>
  </div>
    
  </div>


                  
              </div>

             <div class="orders" id="benchBorder">
              <div class="benchBG2Outer">
              <div class="benchBG2">
                  <br>
        
                  <div id="GKbench"> 
                  <div class="player2Div" id="player2GK"> 
                    <img src="/img/playerShirt.png" id="playerShirt2">
                    <p class="pname"><% 
                      let playerName2 = 'player'; 
                      try { 
                          if (players.length > 0) { 
                              playerName2 = players[1].name; 
                          } 
                      } catch (error) { 
                          console.error('Error accessing player name:', error); 
                      } 
                  %>
                  <%= playerName2 %></p>
                  <p class="pPoints"><%= players[1].team %></p>
                 </div>
                </div>
        
                <div id="player1bench">
                 <div class="player7Div" id="player7DF">  
                  <img src="/img/playerShirt.png" id="playerShirt7">
                  <p class="pname"><% 
                    let playerName7 = 'player'; 
                    try { 
                        if (players.length > 0) { 
                            playerName7 = players[6].name; 
                        } 
                    } catch (error) { 
                        console.error('Error accessing player name:', error); 
                    } 
                %>
                <%= playerName7 %></p>
                <p class="pPoints"><%= players[6].team %></p> </div>
              </div>
        
              <div id="player2bench">
                <div class="player15Div" id="player15MD"> 
                  <img src="/img/playerShirt.png" id="playerShirt15">
                  <p class="pname"><% 
                    let playerName15 = 'player'; 
                    try { 
                        if (players.length > 0) { 
                          playerName15 = players[14].name; 
                        } 
                    } catch (error) { 
                        console.error('Error accessing player name:', error); 
                    } 
                %>
                <%= playerName15 %></p>
                <p class="pPoints"><%= players[14].team %></p> </div>
              </div>
        
              <div id="player3bench">
        
                <div class="player11Div" id="player11AT"> 
                  <img src="/img/playerShirt.png" id="playerShirt11">
                  <p class="pname"><% 
                    let playerName11 = 'player'; 
                    try { 
                        if (players.length > 0) { 
                            playerName11 = players[10].name; 
                        } 
                    } catch (error) { 
                        console.error('Error accessing player name:', error); 
                    } 
                %>
                <%= playerName11 %></p>
                <p class="pPoints"><%= players[10].team %></p> </div>
              </div>
        
              
        
                </div>
             </div>
          </div>
              <!-- Reminders -->
              

              <!-- End of Reminders-->

          </div>

      </main>

  </div>

</body>





<script>
const sideLinks = document.querySelectorAll('.sidebar .side-menu li a:not(.logout)');

sideLinks.forEach(item => {
  const li = item.parentElement;
  item.addEventListener('click', () => {
      sideLinks.forEach(i => {
          i.parentElement.classList.remove('active');
      })
      li.classList.add('active');
  })
});

const menuBar = document.querySelector('.content nav .bx.bx-menu');
const sideBar = document.querySelector('.sidebar');

menuBar.addEventListener('click', () => {
  sideBar.classList.toggle('close');
});

const searchBtn = document.querySelector('.content nav form .form-input button');
const searchBtnIcon = document.querySelector('.content nav form .form-input button .bx');
const searchForm = document.querySelector('.content nav form');

searchBtn.addEventListener('click', function (e) {
  if (window.innerWidth < 576) {
      e.preventDefault;
      searchForm.classList.toggle('show');
      if (searchForm.classList.contains('show')) {
          searchBtnIcon.classList.replace('bx-search', 'bx-x');
      } else {
          searchBtnIcon.classList.replace('bx-x', 'bx-search');
      }
  }
});

window.addEventListener('resize', () => {
  if (window.innerWidth < 768) {
      sideBar.classList.add('close');
  } else {
      sideBar.classList.remove('close');
  }
  if (window.innerWidth > 576) {
      searchBtnIcon.classList.replace('bx-x', 'bx-search');
      searchForm.classList.remove('show');
  }
});













</script>





</html>